# Ignorar archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos y carpetas generados por el entorno de desarrollo
node_modules/
.vscode/

# Ignorar archivos de respaldo y temporales
*.log
*.bak
*.tmp

# Ignorar archivos de dependencias específicos del proyecto (si aplicable)
# Ejemplo: Dependiendo del administrador de paquetes utilizado (npm, yarn), agregar los archivos generados aquí

# Ignorar archivos de configuración de editor específicos del usuario
.editorconfig
.eslintcache