body {
    background-image: url('assets/nick-fewings-l5fDJ3I-9Uk-unsplash.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen de fondo */
}


.signup-form{
    display: flex;
    flex-direction: column;
    height:600px;
    width:820px;
    margin-top:5%;
    margin-left:25%;
    border: 1px solid black; /* Añadido para aplicar un borde negro */
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
    
    
}
/*-----------------------------------------------*/
.signup-content,
.signup-content2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    width: 100%;
}

.signup-content2 label,
.signup-content2 input,
.signup-content2 select {
    flex: 1; 
    margin: 10px;
}


.Signup-head{
    padding:8px;
    background-color: #8FBCEA; 
    text-align: center;
}
.signup-content .radio{
    margin:10px 10px;
}
.signup-content2 .input{
    width:45%;
    padding:10px;
    margin:10px;
    color:#050505;
}
.signup-content2 input.input {
    width: 200px; /* Reducir el ancho para acomodar ambos campos en una línea */
    padding: 10px;
    margin: 10px;
    color: #070707;
    display: inline-block; /* Cambiar la presentación a en línea */
}

.signup-content2 .tarikh {
    width: 200px ;/* Ancho del campo de fecha */
    padding: 10px;
    margin: 10px;
    color: #080808;
    display: inline-block;
    box-sizing: border-box;
    height: 40px; /* Altura del campo de fecha */
}


.signup-content2  .person{
    width: 130px;
    padding:10px;
    margin:20px;
    color:#060606;
}


/* .signup-content2 .travel {
    margin: 10px; Reduciendo el margen superior para moverlo más abajo 
}

.signup-content2 .travel2{
    padding:5px;
}*/

.signup-content2 .submit-btn {
    border: black;
    outline: none;
    width: 100px;/*ancho del boto*/
    padding: 10px;
    margin: 50px;
    background-color: #053A70; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.signup-content2 .submit-btn:hover {
    background-color: #FFC44F; /* Color de fondo del botón al pasar el ratón */
}

.table {
    margin: 0 auto; /* Centra la tabla horizontalmente */
    margin-top: 10px; /* Espacio superior para separarla del botón */
    width: 80%; /* Ancho de la tabla */
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
    background-color: #ffdb93;
}

/* Estilos para las celdas de la tabla (opcional) */
.table th,
.table td {
    border: 1px solid #0b0b0b; /* Borde de 1px sólido */
    padding: 8px; /* Espacio interno de las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilo para el encabezado de la tabla (opcional) */
.table th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
    color: #333; /* Color del texto del encabezado */
}


