/* Your existing CSS */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.h1menu{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 3%;
    color: rgba(8, 86, 167, 1);
}



.cliente-header,
.user-header,
.admin-header {
    background-color: rgba(143, 188, 234, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    height: 50%;
}

.menu-toggle {
    background-color:white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.menu-toggle img {
    width: 30px;
    height: 30px;
}



#mini-nav.show {
    display: block; /* Show when the 'show' class is added */
}

/* Style for mini nav links */
#mini-nav {
    position: absolute;
    top: calc(100% + 20px); /* Position it below the button */
    right: 0; /* Align it to the right */
    transform: translateX(100%); /* Move it to the right edge */
    width: 150px; /* Adjust width as needed */
    background-color: rgba(143, 188, 234, 1); /* Background color with adjusted opacity */
    display: none; /* Hide by default */
    z-index: 999;
}

h3{
    font-size: 25px;
    color:rgba(5, 58, 112, 1);
    margin-left:1px; /* Adjusted margin for the h3 element */
    
}



#nav-links-containercli {
    display: flex;
    align-items: center;
    flex-direction: row; /* Ensure items align horizontally */
    margin-left: 83%; /* Push the navbar links to the right */
}

.nav-linkcli {
    color: white;
    margin-right: 10px; /* Add some space between links */
    white-space: nowrap;
    font-size: 35px;
    margin-right: 30px;
}
#nav-links-containeradmin {
    display: flex;
    align-items: center;
    flex-direction: row; /* Ensure items align horizontally */
    margin-left: 85%; /* Push the navbar links to the right */
}

.nav-linkadd {
    color: white;
    margin-right: 10px; /* Add some space between links */
    white-space: nowrap;
    font-size: 35px;
    margin-right: 30px;
}
#nav-links-containernon {
    display: flex;
    align-items: center;
    flex-direction: row; /* Ensure items align horizontally */
    margin-left: 70%; /* Push the navbar links to the right */
}

.nav-linknon {
    color: white;
    margin-right: 10px; /* Add some space between links */
    white-space: nowrap;
    font-size: 35px;
    margin-right: 30px;
}

