
/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Espacio superior */
}

/* Estilos para las celdas de la tabla */
th, td {
    border: 1px solid #ddd; /* Borde para las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para las celdas del encabezado */
th {
    background-color: #f2f2f2; /* Color de fondo */
}

/* Estilos para los botones */
.button {
    padding: 5px 10px; /* Espaciado interno */
    cursor: pointer; /* Cursor de puntero */
    margin-right: 5px; /* Espacio derecho */
    background-color: #053A70;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    width: 50%;
    padding: 2%;
}

#button-pa {
    float: right; /* Alinear a la derecha */
    margin-bottom: 20px; /* Espacio inferior */
   
}
#button-pa:hover {
    background-color: #8FBCEA; 
    color: #053A70;
}
.input-text {
    width: 70%; /* Ajusta el ancho según lo necesario */
    margin: 0 auto; /* Esto centra el elemento horizontalmente */
    display: block; /* Esto hace que el elemento sea de bloque para que el ancho y el margen funcionen correctamente */
}
