.container {
    margin-top: 20px;
}
.header{
    height: 100%;
}
.section-content h2 {
    text-align: center;
}
#user-info h2 {
    margin-bottom: 20px;
    font-size: 5.2em;
    text-align: center;
    color: white;
}
.section-content {
    display: none;
}
.section-content.active {
    display: block;
}
.section {
    margin-bottom: 20px;
}
#user-info {
    padding: 20px;
}
.user-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-details div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.user-details div span {
    font-weight: bold;
}
.user-info-header {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.millas-info {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
}
.table-user {
    margin: 0 auto;
    text-align: center;
    border-spacing: 100px; /* Add space between th elements */
}
.table-user th {
    vertical-align: top;
}

.esta-user {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(143, 188, 234, 1);
    border-radius: 40px;
    padding: 0.5%;
    margin-top:2% ;
}
.esta-user tr {
    vertical-align: top;
    width: 80%;
}
.esta-user th {
    vertical-align: top;
    font-size: 1em;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: white;
    
}
.section{
    background-color: rgba(143, 188, 234, 1);
    border-radius: 40px;
    width: 63%;
    padding-bottom: 0.01px;
}
.section-button {
    display: inline-block;
    margin-right: 10px;
}

.section-button input[type="radio"] {
    display: none;
}

.section-button span {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5em;
}

.section-button input[type="radio"]:checked + span {
    background-color: rgba(8, 86, 167, 1);
    color: #fff;
}
