.datos {
    text-align: center; /* Center the <div> horizontally */
    margin-top: 1%;
    margin-left: -15%;
}

.pdatos {
    display: inline-block; /* Ensure <p> takes only the necessary width */
    text-align: left; /* Align text inside <p> to the left */
    font-size: 25px;
}
.h1rese{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 1%;
    color: rgba(8, 86, 167, 1);
}

.centerre {
    margin: 0 auto; /* Center the div horizontally */
    width: 50%; /* Set a width to prevent the table from taking the full width */
    margin-top: 2%;
}

.tablere {
    width: 100%; /* Set table width to 100% of its container */
    border-collapse: collapse; /* Collapse table borders */
    border-bottom: 2px solid rgba(255, 219, 147, 1);
    border-left: 2px solid rgba(255, 219, 147, 1); /* Add left border to table data cells */
    border-right: 2px solid rgba(255, 219, 147, 1); /* Add right border to table data cells */
    z-index: 2;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.thre, .tdre {
    padding: 8px; /* Add padding inside table cells */
    text-align: center; /* Center-align text in table cells */
    text-align: left;
    padding-left: 2%;
    font-family: 'Inter', sans-serif;
}

.thre {
    border: 1px solid rgba(255, 171, 79, 1); /* Add border to table headers */
    background-color: rgba(255, 171, 79, 1);
    border-left: 1px solid black; /* Add left border to table data cells */
    border-right: 1px solid black;
    font-family: 'Inter', sans-serif;
}

.tdre {
    border-left: 1px solid black; /* Add left border to table data cells */
    border-right: 1px solid black; /* Add right border to table data cells */
    z-index: 2;
    background-color: rgba(255, 219, 147, 1);

}

.centerfor{
    margin: 0 auto; /* Center the div horizontally */
    width: 50%; /* Set a width to prevent the table from taking the full width */
    margin-top: 2%;
    margin-left: 30%;
}