.h1rese{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 1%;
    color: white;
}
.h1rese2{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: -1%;
    color: rgba(8, 86, 167, 1);
}
.eliminar-reserva {
    position: absolute;
    top: 0;
    right: left;
    margin-bottom: 20px; /* Ajusta este margen según sea necesario */
    margin-right: 20px; /* Ajusta este margen según sea necesario */
    margin-top: 15%;
    margin-left: 2%;
   color: white;
   background-color: rgba(5, 58, 112, 1);
   border-radius: 40px;
}
.header{
    height: 140%;
}